#python package
/dist/
/*.egg-info
/*.egg

#python compiled
*.pyc
*ipynb

#emacs stuff
*~
#*#
.#*
*.pdb

#gromacs stuff
*.log
*.gro
*.itp
*.top
*.dat
*.edr
*.tpr
*.trr
*.mdp
*.cpt

#Sphinx build
doc/_build