#python package
/dist/
/build/
/*.egg-info
/*.egg
.egg*

#python compiled
*.pyc
*.ipynb

#emacs stuff
*~
#*
.#*
*.pdb

#gromacs stuff
*.log
*.gro
*.itp
*.top
*.dat
*.edr
*.tpr
*.trr
*.cpt
*.ndx

#Sphinx build
doc/_build

.dox/*